:host {
    --header-height: 60px;
    --sidebar-width: 300px;
    --sidebar-width-collapse: 75px;
}

.layout {
    display: flex;
    min-height: calc(100vh - 104px);
}

.content {
    margin-top: 60px;
    margin-left: 300px;
    width: calc(100% - 300px);
    height: calc(100vh - 104px);
    overflow-y: auto;
    overflow-x: hidden;
    background: #f4f6fa;
    padding: 16px 20px;
    transition: all .3s ease;
}

.content.expanded {
    margin-left: 75px;
    width: calc(100% - 75px);
}

